In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from word2number import w2n

In [2]:
df = pd.read_csv("hiring.csv")
df

In [3]:
# Helper function to check if conversion is possible using word2number
def can_convert_to_word_num(value):
    if isinstance(value, str):  # Check if the value is a string
        try:
            w2n.word_to_num(value)
            return True
        except ValueError:
            return False
    return False  # If the value is not a string, it cannot be converted by w2n

# Check if each value in the array can be converted
#print(df.experience)
conversion_possible = [can_convert_to_word_num(value) for value in df.experience]
#print(conversion_possible)

In [4]:
for i in range(0,len(df.experience),1):
    if (conversion_possible[i] == True):
        NewNum = w2n.word_to_num(df.experience[i])
        df.experience[i] = NewNum
        #print(NewNum)

C:\Users\user\AppData\Local\Temp\ipykernel_11784\3509686055.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.experience[i] = NewNum

In [ ]:
df

In [9]:
df.experience = df.experience.fillna(0)
mean_test_score = int(df["test_score(out_of_10)"].mean())
df["test_score(out_of_10)"] = df["test_score(out_of_10)"].fillna(mean_test_score)

In [ ]:
df.experience = df.experience.fillna(df.experience.median())
df["test_score(out_of_10)"] = df["test_score(out_of_10)"].fillna(df["test_score(out_of_10)"].median())

In [10]:
df

   experience  test_score(out_of_10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [12]:
reg = linear_model.LinearRegression()
reg.fit(df[["experience","test_score(out_of_10)","interview_score(out of 10)"]],df["salary($)"])

x1 = int(input("Please input the experiece of the worker: "))
x2 = int(input("Please input the test score of worker: "))
x3 = int(input("Please input the age of the interview_score of worker: "))

X = [x1,x2,x3]
Coef = reg.coef_
intercept = reg.intercept_

price = intercept
for i in range(0,len(reg.coef_),1):
    price = price + X[i]*Coef[i]
print(int(price))

Please input the experiece of the worker: 12
Please input the test score of worker: 10
Please input the age of the interview_score of worker: 10
93747